extends ../layout

block content
  section.con
    .overlay
      .container
        .row.justify-content-center
          .col-md-8.p-3.mt-5
            h2.text-center.display-4 Pps
        .row.h-50.justify-content-center
          .col-md-8.main-con.p-3.justify-content-center
            .row.justify-content-center
              input(type='file', id='picImage')
            .row.justify-content-center
              canvas(id='canvas', width=500, height=400)
            .row.justify-content-center
                .col-md-6.mb-5
                  .wrapper
                    button.btn.btn-primary.btn-block(id='btnClean') Limpiar
                .col-md-6.mb-5
                  .wrapper
                    input(type='hidden', id='saveurl', value='/register/step2')
                    button.btn.btn-primary.btn-block(id='btnSave') Entrar
            p.text-center.t Victor Cueva

block scripts
  script(src="/javascripts/pps.js")