extends ../layout

block content
  section.con
      .overlay
        .container
          .row.justify-content-center
            .col-md-8.p-3.mt-5
              h2.text-center.display-3 Seleccionar Metodo
          .row.h-50.justify-content-center
            .col-md-8.main-con.p-3.justify-content-center
              .row.justify-content-center
                  .col-md-10.mb-5
                    .wrapper
                      a.btn.btn-primary.btn-block(href='step2?m=blonder') Blonder
              .row.justify-content-center
                  .col-md-10.mb-5
                    .wrapper
                      a.btn.btn-primary.btn-block(href='step2?m=pps') Pass Point Scheme
              p.text-center.t By: Victor Cueva