doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    title Bootstrap 4
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css')
    // Font awesome
    link(rel='stylesheet', type='text/css', href='/stylesheets/font-awesome.min.css')
    link(rel='stylesheet', type='text/css', href='/stylesheets/login1.css')
    // Google Fonts
    link(href='https://fonts.googleapis.com/css?family=Raleway', rel='stylesheet')
    link(href='https://fonts.googleapis.com/css?family=Cookie', rel='stylesheet')
    link(href='https://fonts.googleapis.com/css?family=Kaushan+Script', rel='stylesheet')
    link(href='https://fonts.googleapis.com/css?family=Kaushan+Script|Wendy+One', rel='stylesheet')
    link(href='https://fonts.googleapis.com/css?family=Didact+Gothic', rel='stylesheet')
  body
    block content
  // Jquery
  script(src='https://code.jquery.com/jquery-3.3.1.min.js')
  // Tether
  script(src='https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js')
  // Bootstrap js
  script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js')
  block scripts